<header>
  <div class="container d-flex justify-content-between align-items-center">
    <a href="{% url 'home' %}" class="brand-text">InstaNDH</a>
    <nav>
      <ul class="nav-icons">
        <li><a href="{% url 'home' %}"><i class="bi bi-house-door-fill"></i></a></li>
        <li><a href="{% url 'profile_list' %}"><i class="bi bi-people-fill"></i></a></li>
        {% if not request.user.is_authenticated %}
          <li><a href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i></a></li>
          <li><a href="{% url 'register' %}"><i class="bi bi-person-plus-fill"></i></a></li>
        {% endif %}
        <li><a href="{% url 'contact' %}"><i class="bi bi-envelope-fill"></i></a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'post_create' %}"><i class="bi bi-plus-square-fill"></i></a></li>
          <li><a href="{% url 'profile_detail' request.user.profile.pk %}"><i class="bi bi-person-circle"></i></a></li>
          <li><a href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i></a></li>
        {% endif %}
        <li><a href="#" id="theme-toggle"><i class="bi bi-moon-fill"></i></a></li>
      </ul>
    </nav>
  </div>
</header>