{% extends "general/layout.html" %}

{% block head_title %}Bienvenido a InstaNDH{% endblock %}

{% block page_content %}
<div class="container mt-3">
  {% include '_includes/_messages.html' %}

  <section class="mb-4">
    <div class="card-custom stories-container">
      {% for i in "12345678" %}
      <div class="story-wrapper">
        <div class="story-circle">
          <img src="https://ui-avatars.com/api/?name=Story+{{ i }}&background=random" alt="Historia">
        </div>
        <span class="story-username">Usuario {{ i }}</span>
      </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <h4 class="mb-3">Últimas publicaciones</h4>

    <div class="row">
      {% for post in last_posts %}
        <div class="col-12 col-sm-6 col-md-4">
          {% include '_includes/posts/_post.html' %}
        </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}